.custom-header {
    background-color: #437E43;
    padding: 15px 40px;

    .nav-bar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 80px;
    }

    .nav-left,
    .nav-right {
        display: flex;
        gap: 160px;
        flex: 0;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .logo-center img {
        border-radius: 50px;
        padding: 5px;
        background-color: #ffffff;
    }


    .nav-left a,
    .nav-right a {
        text-decoration: none;
        color: #ffffff;
        font-weight: 600;
    }

    .logo-center img {
        height: 60px;
    }

    

}