.login-page {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.login-left {
    flex: 0.6;
    background: linear-gradient(135deg, #BDEBA7 0%, #7E9D70 72%, #6B855F 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 290px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 36px;
        color: #437E43;
    }
}

.login-right {
    flex: 0.4;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;

    h2 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #437E43;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-top: 10px;
            font-weight: bold;
            color: #555;
        }

        input,
        select {
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            margin-top: 20px;
            padding: 12px;
            background-color: #437E43;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #365f36;
            }
        }
    }
}